/* SCREEN RESPONSIVE SIZES:
Small (phone): 600px
Medium (tablet): 800px
Large (desktop): 1920 */


/***** GLOBAL RULES *****/
html {
    max-width: 100%;
    margin: 0 auto;
    font-family: system-ui, 'Helvetica Neue', sans-serif;
}

/*** Global header styles ***/
header {
    color: white;
    background-image: url(../images/header-img-1.png);
    background-repeat: no-repeat;
}
nav ul li {
    list-style: none;
    display: inline-block;
}
ul {
    padding-left: 0;
}
.menu button {
    background-color: #ededed;
    border: 2px solid #c2c2c2;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}
.menu button:hover {
    background-color: #efd7bb;
    border: 2px solid #e4b15a;
}
.header-icons button {
    color: white;
    background:transparent;
    border: none;
    cursor: pointer;
}
.header-icons button:hover {
    color: rgb(165, 165, 165);
}

/*** Global home styles ***/
.home-col img:hover {
    opacity: 0.8;
    cursor: pointer;
}
.portfolio-container {
    justify-content: space-around;
}
.portfolio-link button {
    background-color: #ededed;
    border: 2px solid #c2c2c2;
    border-radius: 5px;
    font-weight: bold;
}
.portfolio-link button:hover {
    cursor: pointer;
    background-color: #a0d14e;
    border: 2px solid #cfdfb5;
}
.contact-link button {
    background-color: #ededed;
    border: 2px solid #c2c2c2;
    border-radius: 5px;
    font-weight: bold;
}
.contact-link button:hover {
    cursor: pointer;
    background-color: #a0d14e;
    border: 2px solid #cfdfb5;
}

/*** Global contact style ***/
.contact-pg-envelope button {
    background-color: #ededed;
    border: 3px solid #c2c2c2;
    color: #4e4e4e;
}
.contact-pg-envelope button:hover {
    background-color: #c2c2c2;
    border: 3px solid #ededed;
    color: #ffffff;
    cursor: pointer;
}
.contact-icons button {
    background-color: #cfdfb5;
    border: 2px solid #ededed;
}
.contact-icons button:hover {
    cursor: pointer;
    background-color: #c2c2c2;
}
.message-box textarea {
    outline: none;
    border: 2px solid #c2c2c2;
    border-radius: 5px;
    resize: none;
}
.message-box input {
    outline: none;
    border: 2px solid #c2c2c2;
    border-radius: 5px;
    resize: none;
}
.message-box label {
    display: block;
}
.name-box {
    display: flex;
}
.message-box button {
    background-color: #ededed;
    border: 2px solid #c2c2c2;
    border-radius: 5px;
}
.message-box button:hover {
    cursor: pointer;
    background-color: #a0d14e;
    border: 2px solid #cfdfb5;
}

/*** Global footer styles ***/
footer {
    background-color: #efd7bb;
}
.footer-icons button {
    color: #e4b15a;
    background:transparent;
    border: none;
    cursor: pointer;
}
.footer-icons button:hover {
    color: #000000;
}
.active-hours {
    font-weight: bold;
}



/***** MOBILE STYLE *****/
@media screen and (max-width:600px) {
    /*** Header ***/
    header {
        padding-bottom: 10px;
        padding: 10px;
    }
    .menu button {
        padding-left: 20px;
        padding-right: 20px;
    }
    header p {
        text-align: center;
        font-size: 0.8rem;
        margin-left: 10px;
        margin-right: 10px;
    }
    ul {
        text-align: center;
    }
    .logo {
        width: 30%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 7%;
    }
    .header-icons {
        text-align: center;
    }
    .header-icons button {
        font-size: 2rem;
    }

    /*** Footer styles ***/
    footer {
        padding: 10% 0% 10% 4%;
    }
    .footer-icons button {
        margin-top: 10px;
        font-size: 1.3rem;
    }

    /*** Home content ***/
    .home-main {
        padding-left: 10px;
        padding-right: 10px;
    }
    .services-summary {
        text-align: center;
    }
    .portfolio-preview-head {
        text-align: center;
    }
    .portfolio-container {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .home-col {
        display: flex;
        flex-direction: column;
        /* resizes images */
        width: 30%;
        align-items: center;
    }
    .home-col img {
        width: 100%;
        padding: 5px;
        border-radius: 10px;
    }
    .home-portrait-15 {
        display: none;
    }
    .home-barred {
        display: none;
    }
    .portfolio-link {
        display: flex;
        justify-content: center;
        text-decoration: none;
        padding-top: 15px;
    }
    .portfolio-link button {
        padding: 10px 120px 10px 120px;
        font-size: 1rem;
    }

    /*** About content ***/
    .pic-of-me {
        width: 83%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        border-radius: 10px;
        margin-top: 20px;
        border: 6px dashed #cfdfb5;
    }
    .about-me {
        text-align: center;
        margin: 8% 8% 10% 8%;
    }
    .my-services {
        text-align: center;
        margin: 8% 8% 8% 8%;
    }
    .contact-link {
        display: flex;
        justify-content: center;
        text-decoration: none;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .contact-link button {
        padding: 10px 80px 10px 80px;
        font-size: 1rem;
    }
    .tbhead {
        text-align: center;
    }
    table,
    th,
    td {
        border:2px double black;
        border-collapse: collapse;
        padding: 10px 100px 10px 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    /*** Contact content ***/
    .contact-main {
        padding-left: 4%;
        padding-right: 4%;
    }
    .contact-banner-img {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 140px;
        object-fit: cover;
        margin-top: 20px;
    }
    .contact-me {
        text-align: center;
    }
    .contact-socials {
        text-align: center;
    }
    .contact-pg-envelope {
        padding-bottom: 15px;
    }
    .contact-pg-envelope button {
        padding: 10px 80px 10px 80px;
        font-size: 2rem;
        border-radius: 10px;
    }
    .contact-icons {
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .contact-icons button {
        font-size: 1.4rem;
        padding: 5px 10px;
        border-radius: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .message-box textarea {
        width: 340px;
        padding: 5px;
        height: 100px;
    }
    .message-box input {
        padding: 5px;
        margin-bottom: 5px;
    }
    .lastname {
        padding-left: 12px;
    }
    .emailbox input {
        width: 340px;
    }
    .message-box button {
        padding: 10px;
        margin-top: 10px;
    }
    .active-hours {
        text-align: center;
    }
}



/***** TABLET STYLE *****/
@media screen and (max-width:900px) and (min-width:600px) {
     /*** Header ***/
     header {
        padding-bottom: 10px;
        padding: 10px;
    }
    .menu button {
        padding-left: 35px;
        padding-right: 35px;
    }
    header p {
        text-align: center;
        font-size: 1rem;
        margin-left: 10px;
        margin-right: 10px;
    }
    ul {
        text-align: center;
    }
    .logo {
        width: 35%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5%;
    }
    .header-icons {
        text-align: center;
    }
    .header-icons button {
        font-size: 2rem;
    }

    /*** Footer styles ***/
    footer {
        padding: 5% 0% 5% 4%;
    }
    .footer-icons button {
        margin-top: 10px;
        font-size: 1.5rem;
    }

    /*** Home content ***/
    .home-main {
        padding-left: 20px;
        padding-right: 20px;
    }
    .services-summary {
        text-align: center;
        font-size: 1.1rem;
    }
    .portfolio-preview-head {
        margin-top: 40px;
        text-align: center;
    }
    .portfolio-container {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .home-col {
        display: flex;
        flex-direction: column;
        /* resizes images */
        width: 30%;
        align-items: center;
    }
    .home-col img {
        width: 100%;
        padding: 5px;
        border-radius: 10px;
    }
    .home-portrait-15 {
        display: none;
    }
    .home-barred {
        display: none;
    }
    .portfolio-link {
        display: flex;
        justify-content: center;
        text-decoration: none;
        padding-top: 20px;
    }
    .portfolio-link button {
        padding: 10px 160px 10px 160px;
        font-size: 1.1rem;
    }

    /*** About content ***/
    .pic-of-me {
        width: 70%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        border-radius: 10px;
        margin-top: 20px;
        border: 6px dashed #cfdfb5;
    }
    .about-me {
        text-align: center;
        margin: 8% 8% 10% 8%;
        font-size: 1.1rem;
    }
    .my-services {
        text-align: center;
        margin: 8% 8% 8% 8%;
        font-size: 1.1rem;
    }
    .contact-link {
        display: flex;
        justify-content: center;
        text-decoration: none;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .contact-link button {
        padding: 10px 80px 10px 80px;
        font-size: 1rem;
    }
    .tbhead {
        text-align: center;
    }
    table,
    th,
    td {
        border:2px double black;
        border-collapse: collapse;
        padding: 10px 150px 10px 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    /*** Contact content ***/
    .contact-main {
        padding-left: 4%;
        padding-right: 4%;
    }
    .contact-banner-img {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        object-fit: cover;
        margin-top: 20px;
    }
    .contact-me {
        text-align: center;
    }
    .contact-socials {
        text-align: center;
    }
    .contact-pg-envelope {
        padding-bottom: 15px;
    }
    .contact-pg-envelope button {
        padding: 10px 80px 10px 80px;
        font-size: 1.8rem;
        border-radius: 10px;
    }
    .contact-icons {
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .contact-icons button {
        font-size: 1rem;
        padding: 5px 10px;
        border-radius: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .message-box textarea {
        width: 450px;
        padding: 5px;
        height: 150px;
    }
    .message-box input {
        padding: 5px;
        margin-bottom: 5px;
        padding-left: 12px;
        width: 205px;
    }
    .lastname {
        padding-left: 12px;
    }
    .emailbox input {
        width: 445px;
    }
    .message-box button {
        padding: 10px;
        margin-top: 10px;
    }
    .active-hours {
        margin-top: 30px;
        text-align: center;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 30px;
    }
}



/***** DESKTOP STYLE *****/
@media screen and (min-width:900px) {
    /*** Header ***/
    header {
        margin-bottom: 50px;
        margin-top: 50px;
        padding: 30px;
        display: flex;
    }
    .menu {
        text-align: center;
    }
    .menu button {
        font-size: 0.8rem;
        padding-left: 45px;
        padding-right: 45px;
    }
    .header-content {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: -10px;
    }
    header p {
        font-size: 1rem;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    .logo {
        width: 200px;
        height: 140px;
        margin-right: 3%;
        margin-left: 3%;
        margin-top: 1%;
        margin-bottom: 1.5%;
    }
    .header-icons {
        text-align: center;
        margin-bottom: 5px;
    }
    .header-icons button {
        font-size: 2rem;
    }

    /*** Footer styles ***/
    footer {
        padding: 3% 0% 3% 2%;
    }
    .footer-icons button {
        margin-top: 10px;
        font-size: 1.5rem;
    }

    /*** Home content ***/
    .home-main {
        padding-left: 20px;
        padding-right: 20px;
    }
    .services-summary {
        text-align: center;
        font-size: 1.3rem;
        margin-top: 70px;
        margin-bottom: 70px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .portfolio-preview-head {
        margin-top: 40px;
        text-align: center;
        font-size: 2rem;
    }
    .portfolio-container {
        margin-left: 10%;
        margin-right: 10%;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-col {
        display: flex;
        flex-direction: row;
        width: 90%;
        align-items: center;
    }
    .home-col img {
        width: 100%;
        padding: 5px;
        border-radius: 10px;
    }
    .portfolio-link {
        display: flex;
        justify-content: center;
        text-decoration: none;
        padding-top: 60px;
    }
    .portfolio-link button {
        padding: 10px 300px 10px 300px;
        font-size: 1.1rem;
    }
    .faq {
        text-align: center;
    }

    /*** About content ***/
    .pic-of-me {
        width: 40%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        border-radius: 15px;
        margin-top: 60px;
        border: 8px dashed #cfdfb5;
    }
    .about-me {
        text-align: center;
        margin: 5% 20% 8% 20%;
        font-size: 1.1rem;
    }
    .my-services {
        text-align: center;
        margin: 0 20% 8% 20%;
        font-size: 1.1rem;
    }
    .contact-link {
        display: flex;
        justify-content: center;
        text-decoration: none;
        padding-top: 30px;
        margin-bottom: 30px;
    }
    .contact-link button {
        padding: 10px 100px 10px 100px;
        font-size: 1rem;
    }
    .tbhead {
        text-align: center;
    }
    table,
    th,
    td {
        border:2px double black;
        border-collapse: collapse;
        padding: 10px 300px 10px 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    /*** Contact content ***/
    .contact-main {
        padding-left: 4%;
        padding-right: 4%;
    }
    .contact-banner-img {
        width: 90%;
        height: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        margin-top: 20px;
    }
    .contact-me {
        text-align: center;
        font-size: 2rem;
        margin-top: 50px;
    }
    .email-txt {
        font-size: 1.5rem;
    }
    .contact-socials {
        text-align: center;
    }
    .contact-pg-envelope {
        margin-bottom: 30px;
    }
    .contact-pg-envelope button {
        padding: 10px 150px 10px 150px;
        font-size: 1.8rem;
        border-radius: 10px;
    }
    .contact-icons {
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .contact-icons button {
        font-size: 1.5rem;
        padding: 10px 15px;
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    form {
        margin-left: 8%;
        margin-right: 8%;
    }
    .message-me {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .message-box textarea {
        width: 950px;
        padding: 5px;
        height: 150px;
    }
    .message-box input {
        padding: 5px;
        margin-bottom: 5px;
        padding-left: 12px;
        width: 455px;
    }
    .lastname {
        padding-left: 12px;
    }
    .emailbox input {
        width: 455px;
    }
    .message-box button {
        padding: 15px 90px;
        margin-top: 20px;
    }
    .active-hours {
        margin-top: 30px;
        text-align: center;
        margin-left: 8%;
        margin-right: 8%;
        margin-bottom: 30px;
    }
}